@model baitaplonPTPMQL.Models.ChuyenXe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ChuyenXe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaChuyenXe" />
            <div class="form-group">
                <label asp-for="TenChuyenXe" class="control-label"></label>
                <input asp-for="TenChuyenXe" class="form-control" />
                <span asp-validation-for="TenChuyenXe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayDi" class="control-label"></label>
                <input asp-for="NgayDi" class="form-control" />
                <span asp-validation-for="NgayDi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiemDi" class="control-label"></label>
                <input asp-for="DiemDi" class="form-control" />
                <span asp-validation-for="DiemDi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiemDen" class="control-label"></label>
                <input asp-for="DiemDen" class="form-control" />
                <span asp-validation-for="DiemDen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTaiXe" class="control-label"></label>
                <select asp-for="MaTaiXe" class="form-control" asp-items="ViewBag.MaTaiXe"></select>
                <span asp-validation-for="MaTaiXe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaID" class="control-label"></label>
                <select asp-for="GiaID" class="form-control" asp-items="ViewBag.GiaID"></select>
                <span asp-validation-for="GiaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
